---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     60px;

$text-color:       #111;
$background-color: #fdfdfd;
//$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$gallery-width:    1200px;
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

//PALETTE

// Green
$g1: #205A34;
$g2: #2B7845;
$g3: #369656;
$g4: #5EAB78;
$g5: #86C09A;
$g6: #AFD5BB;

// Dark Grey
$dg1: #384046;
$dg2: #4A565D;
$dg3: #5D6B74;
$dg4: #7D8990;
$dg5: #9EA6AC;
$dg6: #BEC4C7;

// Light Grey
$lg1: #596263;
$lg2: #768384;
$lg3: #94A4A5;
$lg4: #A9B6B7;
$lg5: #BFC8C9;
$lg6: #D4DBDB;

// Off White
$ow1: #80827B;
$ow2: #ABADA4;
$ow3: #D6D8CD;
$ow4: #DEE0D7;
$ow5: #E6E8E1;
$ow6: #EFEFEB;

// Orange
$o1: #99541D;
$o2: #CC7027;
$o3: #FF8C31;
$o4: #FFA35A;
$o5: #FFBA83;
$o6: #FFD1AD;

// Specials
$background: #edeff5;

// Fonts
$proxima-stack: "proxima-nova", Helvetica, Arial, sans-serif;
$franklin-gothic-stack: "Franklin-Gothic-URW-Comp", sans-serif;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
