---
layout: default
---

<!--<nav class="categories">
  <a href="/blog/">Productivity</a>
  <a href="/blog/">Startups</a>
  <a href="/blog/">Updates</a>
</nav>-->

<div class="home">

  {% assign featured_post = site.posts.first %}
  <div class="featured-post">
    <div class="teaser-img-wrapper">
      <a href="{{ featured_post.url | prepend: site.baseurl }}">
        <img src="{{featured_post.teaser_src}}" class="teaser-img" />
      </a>
    </div>
    {% assign word_count = featured_post.content | number_of_words %}
    {% assign read_time = word_count | divided_by: 200 %}
    <section class="teaser-body">
      <span class="post-meta">{{featured_post.categories}} • {% if read_time == 0 %}1{% else %}{{ read_time }}{% endif %} min read</span>
      <h1>
        <a class="post-link" href="{{ featured_post.url | prepend: site.baseurl }}">{{ featured_post.title }}</a>
      </h1>
      <p>{{ featured_post.excerpt | truncatewords: 60 }}</p>
      {% assign author = site.author[featured_post.author] %}
      <span class="post-meta">By <a href="http://twitter.com/{{ author.twitter }}">{{ author.name }}</a> • {{ featured_post.date | date: "%b %Y" }}</span>
    </section>
  </div>

  <div class="tagline highlight-box">
    <small style="text-transform: uppercase; font-style:italics">You're reading&hellip;</small>
    <h2>Our thoughts on productivity, psychology and mindfulness in today's tech-driven workplace.</h2>

    {% include opt-in.html %}
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post != featured_post %}
        <li>
          <div class="teaser-img-wrapper">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              <img src="{{post.teaser_src}}" class="teaser-img" />
            </a>
          </div>
          <section class="teaser-body">
            {% assign word_count = post.content | number_of_words %}
            {% assign read_time = word_count | divided_by: 200 %}
            <span class="post-meta">{{ post.categories}} • {% if read_time == 0 %}1{% else %}{{ read_time }}{% endif %} min read</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          <p>{{ post.excerpt | truncatewords: 25 }}</p>
          {% assign author = site.author[post.author] %}
          <span class="post-meta">By <a href="http://twitter.com/{{ author.twitter }}">{{ author.name }}</a> • {{ post.date | date: "%b %Y" }}</span>
          </section>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>