<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-leadgen">
      <div class="about">
        <h2>Brought to you by Dayboard, a daily task management app for effective teams.</h2>
      </div>

      <a class="orange-button" href="/">See how we can help</a>

    </div>

    <!--<div class="footer-links">
        <a href="http://dayboard.co/about">About</a>
        <a href="http://dayboard.co/faq">FAQ</a>
        <a href="http://dayboard.co/pricing">Pricing</a>
        <a href="http://dayboard.co/business">Business</a>
        <a href="mailto:support@dayboard.co">Contact</a>
        <span class="social-icons">
          <a href="https://twitter.com/dayboardco"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/dayboardco"><i class="fa fa-facebook"></i></a>
          <a href="https://plus.google.com/100235823775853173147" rel="publisher"><i class="fa fa-google-plus"></i></a>
        </span>
        <a href="https://heapanalytics.com/?utm_source=badge" style="margin-top:25px; display:inline-block;"><img style="width:108px;height:41px" src="//heapanalytics.com/img/badge.png" alt="Heap - iOS and Web Analytics" /></a>
    </div>

    <span class="copyright">&copy; 2014-2016. All rights reserved.</span>-->

  </div>

</footer>
