<header id="topbar">
  <div class="container">
    <h1 id="logo">
      Dayboard
      <span class="beta">beta</span>
    </h1>
  </div>
</header>

<nav class="blog">
  <a href="https://www.dayboard.co/about">About</a>
  <a href="https://www.dayboard.co/pricing">Plans</a>
  <a href="https://www.dayboard.co/faq">FAQ</a>
  <a href="https://www.dayboard.co/blog">Blog</a>
  <a href="https://www.dayboard.co/login" class="login">Log In</a>
  <a href="https://www.dayboard.co/signup" class="signup">Sign Up</a>
</nav>

