<section class="opt-in">
  <div>
    <h2>Get Productivity Tips in Your Inbox</h2>
    <h3>We'll send you 1 - 2 articles every month to help you focus on what’s important, do amazing work, fight distractions, or find happiness in your work.</h3>
  </div>

  <form action="https://sendy.dayboard.co/subscribe" method="POST" accept-charset="utf-8">
    <input type="text" name="email" id="email" placeholder="Enter your email address">
    <input type="hidden" name="list" value="HkG78mWrViu4rsecLsglvg"/>
    <input type="submit" name="submit" id="submit" value="Send Me Tips on Productivity">
  </form>
</section>