<div class="share-wrapper">
  <section class="twitter share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="true">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </section>

  <section class="facebook share">
    <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ site.url | uri_escape }}{{ page.url | uri_escape }}&layout=button_count&size=small&mobile_iframe=true&width=81&height=20&appId" width="81" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </section>

  <section class="linkedin share">
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/Share" data-counter="right"></script>
  </section>
</div>